*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1,
h2{
    color: black;
}
h3{
    color: #999;
}

.backimage {
    background-image: url('../images/heroback.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* hero section layout style */
.hero {
    position: relative;
    color: white;
    padding: 30px;
    min-height: 200px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.3);
}

.hero p {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

/* nav bar styling */

nav {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    background-color: rgb(192, 190, 190);
    color: #fff;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

nav .reg-nav a .profile {
    height: 40px;
    width: 40px;
}

.logo{
    width: 80px;
    height: 70px;
}

.alert {
    color: red;
}
.alert-danger {
    color: red;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 20px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

nav ul li a:active {
    background-color: #444;
    text-decoration: underline;
    color: #ccc;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: #747070;
    color: #f5ebeb;
    height: 120px;
    border-radius: 10px;
    padding: 7px;
}

nav .reg-nav {
    display: flex;
    align-items: center;
}

nav .reg-nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

nav .reg-nav button {
    display: inline-block;
    border-radius: 10px;
    border: none;
    background-color: #ccc;
    height: 40px;
    min-width: 80px;
    font-size: 16px;
    cursor: pointer;
}

.reg-nav .reg-btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    color: #fff;
    background-image: linear-gradient(45deg, #3f87b1, #bd10d4);
    font-size: 14px;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    margin-left: 50px;
    
}

.logout{
    color: red;
}

/* buttons styling */
.btn{
    display: inline-block;
    text-decoration: none;
    width: 120px;
    padding: 10px 10px;
    color: #fff;
    background-image: linear-gradient(45deg, #3f87b1, #bd10d4);
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    border-top-right-radius: 0;
    transition: 0.5s;
    margin-left: 50px;
    
}

.btn:hover{
    border-top-right-radius: 20px;
}

.m-bok button:hover{
    text-decoration: none;
    padding: 7px 7px;
    color: #000;
    background-image: linear-gradient(35deg, #3f87b1, #bd10d4);
    font-size: 16px;
    border-radius: 12px;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
    padding: 20px;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.make-bkng {
    margin: 70px 30px 70px 30px;
    padding: 0px 30px 0px 30px;
}

.top-dest{
    margin-bottom: 50px;
    margin-top: 50px;
    
}
.top-dest h1{
    text-align: center;
}
.happy-trav{
    margin-top: 60px;
    margin-bottom: 60px;
   
}
.happy-trav h1{
    text-align: center;
}

/* footer styles */

footer {
    background-color: #493845c9;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    min-height: 200px;
    overflow: hidden;
}

.header {
    width: 100%;
}

.head {
    margin-bottom: 20px;
}

.head h3 {
    font-size: 24px;
    color: #fff;
}
.cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.our-conta {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nunbers {
    flex: 1;
    padding-right: 40px;
}

.emails {
    flex: 1;
    padding-left: 40px;
}

.our-comp,
.top-routes {
    flex: 1;
    margin: 10px;
}
.cont h3 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.cont a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.cont p {
    color: #fff;
    font-size: 14px;
}

/* about us page */

.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    padding-bottom: 20px;
}

.about {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f8f4f4;
} 

.about .us {
    width: 400px;
    min-height: 200px;
    background: rgb(241, 240, 240);
    margin: 20px 10px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.about .us p {
    padding: 0px 20px 20px 20px;
    font-family: 'Times New Roman' 12px;
    line-height: 30px;
}

.about-us {
    padding: 30px 50px 50px 70px;
    background-image: linear-gradient(45deg, rgb(220, 220, 223), rgb(219, 216, 219));
}

.about-us h4{
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 24px;
}

.about-us p{
    font-family: 'Times New Roman' 12px;
    padding: 5px;
}

.about-nums {
    background-color: #f8f4f4;
}

.nums{
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nums .us {
    width: 300px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nums .us h2 {
    padding-bottom: 15px;
}

.aboutus-desc {
    width: 100%;
    margin: 0 auto;
    
}
.sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.about-img{
    flex: 1;
    overflow: hidden;
}

.about-img img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-img:hover img {
    transform: scale(1.2);
}

.describe {
    flex: 1;
    padding: 20px;
}

.describe p {
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .hero {
        width: 100%;
        margin: 0;
    }
    .sec {
        padding: 20px;
        flex-direction: column;
    }
    .sec p {
        font-size: 14px;
    }
    nav ul li {
        font-size: 13px;
    }

    /* navigation bar */
    .nav-bar nav ul li marquee {
        display: none;
    }

    .nav-bar nav a .logo {
        width: 35px;
        height: 40px;
    }

    nav ul li{
        display: inline-block;
        list-style: none;
        padding: 3px;
        position: relative;
    }
    nav ul li a{
        text-decoration: none;
        color: #333;
    }
    
    nav ul li a:active {
        background-color: #444;
        text-decoration: underline;
        color: #ccc;
    }
    
    nav ul li a:hover {
        text-decoration: none;
        background-color: #747070;
        color: #f5ebeb;
        height: 70px;
        border-radius: 10px;
    }
    
    nav .reg-nav {
        display: flex;
        align-items: center;
    }
    
    nav .reg-nav a {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
    }
    
    nav .reg-nav button {
        display: inline-block;
        border-radius: 10px;
        border: none;
        background-color: #ccc;
        height: 30px;
        min-width: 50px;
        font-size: 8px;
        cursor: pointer;
    }

    nav .reg-nav a .profile {
        height: 25px;
        width: 25px;
    }

    .nav-bar nav .reg-nav .reg-btn {
        display: inline-block;
        text-decoration: none;
        padding: 7px;
        color: #fff;
        background-image: linear-gradient(45deg, #3f87b1, #bd10d4);
        font-size: 12px;
        border-radius: 15px;
        width: 80px;
        cursor: pointer;
        text-align: center;
        margin-left: 50px;
    }

    .cont {
        flex-direction: column;
    }

    /* Parcel page styling */
    .parcels {
        width: 100%;
        margin: 0;
    }
    .courier-charges {
        padding: 20px 30px 45px 30px;
        background: rgb(241, 241, 241);
        margin: 50px 30px 50px 30px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    .courier-charges table {
        width: 100%;
        border-collapse: collapse;
        border-color: #333;
    }
    
    .courier-charges th, .courier-charges td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .courier-charges th {
        background-color: #f2f2f2;
        height: 75px;
        font-size: 16px;
        padding: 20px;
    }
    
    .courier-charges td {
        background-color: #ccc;
        height: 45px;
    }
    
    .parcels p {
        padding: 10px;
        margin-bottom: 30px;
    }
    
    .parcel-charges {
        padding: 20px 30px 45px 30px;
        background: rgb(241, 241, 241);
        margin: 50px 30px 50px 30px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    
    .parcel-charges table {
        width: 100%;
        border-collapse: collapse;
        border-color: #333;
    }
    
    .parcel-charges th, .parcel-charges td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .parcel-charges th {
        background-color: #f2f2f2;
        height: 75px;
        font-size: 16px;
        padding: 20px;
    }
    
    .parcel-charges td {
        background-color: #ccc;
        height: 45px;
    }
    
    .parcel-intro {
        margin: 40px 30px 20px 30px;
    }
    
    .parcel-intro p {
        line-height: 30px;
    }
}

/* Responsive styling @media screen size change */
@media screen and (max-width: 600px) {
    /* navigation bar */
    .nav-bar nav ul li marquee {
        display: none;
    }

    .nav-bar nav a .logo {
        width: 35px;
        height: 40px;
    }

    nav ul li{
        display: inline-block;
        list-style: none;
        padding: 3px;
        position: relative;
    }
    nav ul li a{
        text-decoration: none;
        color: #333;
    }
    
    nav ul li a:active {
        background-color: #444;
        text-decoration: underline;
        color: #ccc;
    }
    
    nav ul li a:hover {
        text-decoration: none;
        background-color: #747070;
        color: #f5ebeb;
        height: 70px;
        border-radius: 10px;
    }
    
    nav .reg-nav {
        display: flex;
        align-items: center;
    }
    
    nav .reg-nav a {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
    }
    
    nav .reg-nav button {
        display: inline-block;
        border-radius: 10px;
        border: none;
        background-color: #ccc;
        height: 30px;
        min-width: 50px;
        font-size: 8px;
        cursor: pointer;
    }

    nav .reg-nav a .profile {
        height: 25px;
        width: 25px;
    }

    .nav-bar nav .reg-nav .reg-btn {
        display: inline-block;
        text-decoration: none;
        padding: 7px;
        color: #fff;
        background-image: linear-gradient(45deg, #3f87b1, #bd10d4);
        font-size: 12px;
        border-radius: 15px;
        width: 80px;
        cursor: pointer;
        text-align: center;
        margin-left: 50px;
    }

    .cont {
        flex-direction: column;
    }

    /* Parcel page styling */
    .parcels {
        width: 100%;
        margin: 0;
    }
    .courier-charges {
        padding: 20px 30px 45px 30px;
        background: rgb(241, 241, 241);
        margin: 50px 30px 50px 30px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    .courier-charges table {
        width: 100%;
        border-collapse: collapse;
        border-color: #333;
    }
    
    .courier-charges th, .courier-charges td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .courier-charges th {
        background-color: #f2f2f2;
        height: 75px;
        font-size: 16px;
        padding: 20px;
    }
    
    .courier-charges td {
        background-color: #ccc;
        height: 45px;
    }
    
    .parcels p {
        padding: 10px;
        margin-bottom: 30px;
    }
    
    .parcel-charges {
        padding: 20px 30px 45px 30px;
        background: rgb(241, 241, 241);
        margin: 50px 30px 50px 30px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    
    .parcel-charges table {
        width: 100%;
        border-collapse: collapse;
        border-color: #333;
    }
    
    .parcel-charges th, .parcel-charges td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .parcel-charges th {
        background-color: #f2f2f2;
        height: 75px;
        font-size: 16px;
        padding: 20px;
    }
    
    .parcel-charges td {
        background-color: #ccc;
        height: 45px;
    }
    
    .parcel-intro {
        margin: 40px 30px 20px 30px;
    }
    
    .parcel-intro p {
        line-height: 30px;
    }
    


}

/* Media query for even smaller screens */
@media (max-width: 300px) {
     /* navigation bar */
     .nav-bar nav ul li marquee {
        display: none;
    }

    .nav-bar nav a .logo {
        width: 35px;
        height: 40px;
    }

    nav ul li{
        display: inline-block;
        list-style: none;
        padding: 3px;
        position: relative;
    }
    nav ul li a{
        text-decoration: none;
        color: #333;
    }
    
    nav ul li a:active {
        background-color: #444;
        text-decoration: underline;
        color: #ccc;
    }
    
    nav ul li a:hover {
        text-decoration: none;
        background-color: #747070;
        color: #f5ebeb;
        height: 70px;
        border-radius: 10px;
    }
    
    nav .reg-nav {
        display: flex;
        align-items: center;
    }
    
    nav .reg-nav a {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
    }
    
    nav .reg-nav button {
        display: inline-block;
        border-radius: 10px;
        border: none;
        background-color: #ccc;
        height: 30px;
        min-width: 50px;
        font-size: 8px;
        cursor: pointer;
    }

    nav .reg-nav a .profile {
        height: 25px;
        width: 25px;
    }

    .nav-bar nav .reg-nav .reg-btn {
        display: inline-block;
        text-decoration: none;
        padding: 7px;
        color: #fff;
        background-image: linear-gradient(45deg, #3f87b1, #bd10d4);
        font-size: 12px;
        border-radius: 15px;
        width: 80px;
        cursor: pointer;
        text-align: center;
        margin-left: 50px;
    }

    .cont {
        flex-direction: column;
    }

    /* Parcel page styling */
    .parcels {
        width: 100%;
        margin: 0;
    }
    .courier-charges {
        padding: 20px 5px 45px 5px;
        background: rgb(241, 241, 241);
        margin: 50px 0px 50px 0px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    .courier-charges table {
        width: 100%;
        border-collapse: collapse;
        border-color: #333;
    }
    
    .courier-charges th, .courier-charges td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .courier-charges th {
        background-color: #f2f2f2;
        height: 75px;
        font-size: 16px;
        padding: 20px;
    }
    
    .courier-charges td {
        background-color: #ccc;
        height: 45px;
    }
    
    .parcels p {
        padding: 10px;
        margin-bottom: 30px;
    }
    
    .parcel-charges {
        padding: 20px 5px 45px 5px;
        background: rgb(241, 241, 241);
        margin: 50px 0px 50px 0px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    
    .parcel-charges table {
        width: 100%;
        border-collapse: collapse;
        border-color: #333;
    }
    
    .parcel-charges th, .parcel-charges td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .parcel-charges th {
        background-color: #f2f2f2;
        height: 75px;
        font-size: 16px;
        padding: 20px;
    }
    
    .parcel-charges td {
        background-color: #ccc;
        height: 45px;
    }
    
    .parcel-intro {
        margin: 0;
    }
    
    .parcel-intro p {
        line-height: 30px;
    }
}

.cont-mess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: #f3f2f2;
}

.cont-mess .our-contacts {
    max-width: 350px;
    min-height: 450px;
    background: rgb(226, 220, 220);
    margin: 20px 10px;
    align-items: center;
    padding: 30px 30px 30px 30px;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cont-mess .our-contacts .c-us p {
    font-size: 14px;
    padding: 5px;
    
}

.cont-mess .our-contacts .c-us h3 {
    font-size: 16px;
    color: #222;
    padding-top: 20px;
    padding-bottom: 7px;
}

.our-contacts {
    flex: 1;
}

.message {
    flex: 1;
    padding: 50px, 50px, 50px, 50px;
}

.cont-mess .message {
    width: 300px;
    min-height: 550px;
    background: rgb(226, 220, 220);
    margin: 20px 10px;
    align-items: center;
    padding: 20px 20px 20px 20px;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cont-mess .message h4 {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 18px;
}

.cont-mess .message p {
    padding: 20px;
}

.cont-mess .message p a {
    color: rgb(175, 19, 19);
}

.cont-mess .message .form {
    padding: 20px;
    
}

.cont-mess .message .form h3 {
    color: #222;
    padding-bottom: 20px;
}

.cont-mess .message .form label {
    font-weight: bold;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
}

.cont-mess .message .form input[type="text"],
    input[type="email"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.cont-mess .message .form .two-inp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.cont-mess .message .form .send-mess {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    padding-bottom: 30px;
}

.cont-mess .message .form .send-mess input{
    width: 100%;
    min-height: 150px;
    
}

.cont-mess .message .form .send-mess-btn {
    padding-left: 30px;
    cursor: pointer;
}

.cont-mess .message .form button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-image: linear-gradient(45deg, #3f87b1, #bd10d4);
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    border-top-right-radius: 0;
    transition: 0.5s;
}


.cont-mess .message .alert-success {
    color: green;
    height: 40px;
    width: 100%;
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(161, 143, 122);
}

.cont-mess .message .alert-error {
    color: red;
    height: 40px;
    width: 100%;
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(161, 143, 122);
}



/* Parcel page styling */
.parcels {
    background-image: url(../images/kisumu.webp);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.courier-charges {
    padding: 20px 30px 45px 30px;
    background: rgb(241, 241, 241);
    margin: 50px 100px 50px 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.courier-charges table {
    width: 100%;
    border-collapse: collapse;
    border-color: #333;
}

.courier-charges th, .courier-charges td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.courier-charges th {
    background-color: #f2f2f2;
    height: 75px;
    font-size: 16px;
    padding: 20px;
}

.courier-charges td {
    background-color: #ccc;
    height: 45px;
}

.parcels p {
    padding: 10px;
    margin-bottom: 30px;
}

.parcel-charges {
    padding: 20px 30px 45px 30px;
    background: rgb(241, 241, 241);
    margin: 50px 100px 50px 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.parcel-charges table {
    width: 100%;
    border-collapse: collapse;
    border-color: #333;
}

.parcel-charges th, .parcel-charges td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.parcel-charges th {
    background-color: #f2f2f2;
    height: 75px;
    font-size: 16px;
    padding: 20px;
}

.parcel-charges td {
    background-color: #ccc;
    height: 45px;
}

.parcel-intro {
    margin: 40px 75px 20px 75px;
}

.parcel-intro p {
    line-height: 30px;
}


.parcels .more {
    text-align: center;
}

/* home page styles */
.content {
    background-color: #ccc;
}

.content h2 {
    padding-left: 20px;
    padding-bottom: 10px;
}

.content .make-bkng {
    margin-top: 0;
    min-width: 300px;
    min-height: 150px;
    background: wheat;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
}

.content .make-bkng .r-seat {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.content .make-bkng .r-seat label {
    font-weight: bold;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
}

.content .make-bkng .r-seat input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f7f5f5;
    border-radius: 5px;
    box-sizing: border-box;
}

.content .make-bkng .r-seat input[type="date"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f7f5f5;
    border-radius: 5px;
    box-sizing: border-box;

}

.content .make-bkng button {
    margin-top: 50px;
    text-decoration: none;
    padding: 10px 10px;
    color: #fff;
    background-image: linear-gradient(35deg, #3f87b1, #bd10d4);
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;

}



/* bus hire page styles */
.drivers .d-infor {
    overflow: hidden;
    max-width: 400px;
    max-height: 550px;
    background: white;
    align-items: center;
    padding: 40px 40px 40px 40px;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.drivers {
    width: 600px;
}

.bus-h-form {
    overflow: hidden;
    align-items: center;
    min-width: 900px;
    min-height: 500px;
    background: white;
    margin: 20px 10px;
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bus-h-form .loc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bus-h-form .pick {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bus-h-form .drop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bus-h-form .contac {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bus-h-form .form label {
    padding-top: 20px;
    padding-bottom: 10px;
}

.aboutus-desc .sec .bus-h-form .form input[type="text"],
    input[type="email"], input[type="number"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.aboutus-desc .sec .bus-h-form .form input[type="date"], input[type="time"] {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.avail-bus-list {
    padding: 20px 30px 45px 30px;
    background-color: #e7e3e3;
}

.avail-bus-list table {
    width: 100%;
    border-collapse: collapse;
}

.avail-bus-list th, .avail-bus-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.avail-bus-list th {
    background-color: #f2f2f2;
}

.avail-bus-list td {
    background-color: #ccc;
}

.avail-bus-list table button {
    text-decoration: none;
    padding: 5px 5px;
    color: #fff;
    background-image: linear-gradient(35deg, #3f87b1, #bd10d4);
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}

